<IfModule mod_php5.c>
	php_value short_open_tag 1
	php_value session.save_path '/tmp'
	php_value error_reporting 1
</IfModule>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /iopr2

	### !!! VERY IMPORTANT !!! DO NOT CHANGE RedirectMatch BELOW FOR SECURITY REASON ###
	RedirectMatch 403 /(attach|backup|data|icon|UserFiles|video|webboard_upload|images)/.*\.(php|html|htm|js|htaccess)$
</IfModule>
